<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add product</h1>

    <form action="/add_product" method="POST">
      <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Name</label>
      </div>
    
      <div class="input-field">
        <input id="energy" name="energy" type="number" step="0.01" class="validate" required>
        <label for="energy">energy</label>
      </div>
    
      <div class="input-field">
        <input id="protein" name="protein" type="number" step="0.01" class="validate" required>
        <label for="protein">protein</label>
      </div>

      <div class="input-field">
        <input id="fat" name="fat" type="number" step="0.01"  class="validate" required>
        <label for="fat">fat</label>
      </div>
      <div class="input-field">
        <input id="carbohydrates" name="carbohydrates" type="carbohydrates" step="0.01" class="validate" required>
        <label for="carbohydrates">carbohydrates</label>
      </div>      
      
    
      <button class="btn btn-primary">add</button>
    </form>
</body>
</html>